<div class="container">
  <div class="row">
    <h1 class="heading mt-5"><a href="/">Search Repositories</a></h1>
    <h1 class="heading mt-5 current"><a href="#/packages">Top Packages</a></h1>
    <div class="container-fluid mt-5">
      <div class="row" ng-animate-children="true">
        <div class="col-md-12 fade-anim" ng-repeat="(name, each) in results" >
          <div class="card card-results mb-3">
            <div class="card-header">
              <h4 class="result-name" style="margin-bottom: 0;"><span class="ranking">#{{$index + 1}}</span> {{name}} <span class="result-times">{{each.repos.length}} repositories</span> </h4>
            </div>
            <div class=card-body>
            <div class="container">
              <div class="row">
                <div class="col-md-3" ng-repeat="r in each.repos">
                <h6><span style="font-weight: 100;">{{$index + 1}}.</span> {{r.name}}</h6>
                <h6 class="result-owner" style="text-align: left; margin-bottom: 0;">Author: {{r.owner}}
                <br />
                <a href="{{r.url}}" style="text-decoration: none; font-size: 10px; font-weight: 600;">Visit Github Page</a>
                </h6>
                <br />
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
